@model Member

<table>
    <tr>
        <td><label>Member First Name:</label></td>
        <td><input asp-for="MemberFirstName" /></td>
    </tr>
    <tr>
        <td><label>Member Last Name:</label></td>
        <td><input asp-for="MemberLastName" /></td>
    </tr>
    <tr>
        <td><label>Member Email:</label></td>
        <td><input asp-for="MemberEmailAddress" /></td>
    </tr>
</table>