@model Member

<table>
    <tr style="height:2.25em">
        <td style="width:15em"><label>Member First Name:</label></td>
        <td><input asp-for="MemberFirstName" /></td>
    </tr>
    <tr style="height:2.25em">
        <td><label>Member Last Name:</label></td>
        <td><input asp-for="MemberLastName" /></td>
    </tr>
    <tr style="height:2.25em">
        <td><label>Member Email:</label></td>
        <td><input asp-for="MemberEmailAddress" /></td>
    </tr>
    <tr style="height:2.25em">
        <td><label>Member Join Date:</label></td>
        <td><input asp-for="MemberJoinDate" /></td>
    </tr>
    <tr style="height:2.25em">
        <td><label>Is this member an Alumnus?</label></td>
        <td><input asp-for="MemberAlumnus" /></td>
    </tr>
</table>