@model Events

<form asp-action="EventsForm" method="post">
    <input type="hidden" asp-for="EVENTID" />
    <table>
        <tr style="height:2.25em">
            <td style="width:15em"><label asp-for="EventName">Event Name:</label></td>
            <td><input asp-for="EventName" /></td>
        </tr>
        <tr style="height:2.25em">
            <td><label>Event Location Name:</label></td>
            <td><input asp-for="EventLocationName" /></td>
        </tr>
        <tr style="height:2.25em">
            <td><label>Event Address:</label></td>
            <td><input asp-for="EventAddress" /></td>
        </tr>
        <tr style="height:2.25em">
            <td><label>Event City:</label></td>
            <td><input asp-for="EventCity" /></td>
        </tr>
        <tr style="height:2.25em">
            <td><label>Event State:</label></td>
            <td><input asp-for="EventState" /></td>
        </tr>
        <tr style="height:2.25em">
            <td><label>Event Zip Code:</label></td>
            <td><input asp-for="EventZipCode" /></td>
        </tr>
        <tr style="height:2.25em">
            <td><label>Event Start Date and Time:</label></td>
            <td><input asp-for="EventStartDateAndTime" /></td>
        </tr>
        <tr style="height:2.25em">
            <td><label>Event End Date and Time:</label></td>
            <td><input asp-for="EventEndDateAndTime" /></td>
        </tr>
        <tr style="height:2.25em">
            <td><label>Event Description:</label></td>
            <td><textarea asp-for="EventDescription" cols="40" rows="10"></textarea></td>
        </tr>
        <tr style="height:2.25em">
            <td colspan="2"><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>